<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="stuff, to, help, search, engines, not" name="keywords">
    <meta content="What this page is about." name="description">
    <meta content="Display Webcam Stream" name="title">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://rawgit.com/danialfarid/ng-file-upload/master/dist/ng-file-upload-shim.js"></script>
    <script src="https://rawgit.com/danialfarid/ng-file-upload/master/dist/ng-file-upload.min.js"></script>
    <title>Display Webcam Stream</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
    <div id="container" ng-app="myApp" ng-controller="myCtrl">
        <canvas id="canvas" style="display:none;" width="640" height="480"></canvas>
        <video autoplay="true" id="videoElement" width="640" height="480">
        </video>
        <button id="button" type="button" name="Take Picture" ng-click="handleSubmit()">Button</input>
    </div>
    <script>
    var video = document.querySelector("#videoElement");
    var canvas = document.querySelector("#canvas");
    var button = document.querySelector("#button");
    var isValid = true;
    var app = angular.module("myApp", ['ngFileUpload']);
    app.controller("myCtrl", ['$scope', 'Upload', '$http', '$interval', function($scope, Upload, $http, $interval) {
        $scope.Upload = Upload;
        $scope.$http = $http;
        $scope.dataURItoBlob = function(dataURI) {
            // convert base64/URLEncoded data component to raw binary data held in a string
            var byteString;
            if (dataURI.split(',')[0].indexOf('base64') >= 0)
                byteString = atob(dataURI.split(',')[1]);
            else
                byteString = unescape(dataURI.split(',')[1]);

            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            // write the bytes of the string to a typed array
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            return new Blob([ia], {
                type: mimeString
            });
        }

        $scope.$interval = $interval;

       /*$scope.sendImage = $interval(function() {
            canvas.getContext("2d").drawImage(video, 0, 0, 640, 640, 0, 0, 480, 480);
            var img = canvas.toDataURL("image/jpeg", .5);
            var blob = $scope.dataURItoBlob(img);
            $scope.$http.post('/submitimage', {
                foo: blob
            }).success(function(res) {
                console.log(res.data);
                if (res.data == "DONE") {
                    isValid = false;
                }
            });
        }, 2000);*/

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

        if (navigator.getUserMedia) {
            navigator.getUserMedia({
                video: true
            }, handleVideo, videoError);
        }

        $scope.handleSubmit = function() {
            canvas.getContext("2d").drawImage(video, 0, 0, 640, 640, 0, 0, 480, 480);
            var img = canvas.toDataURL("image/jpeg", .5);
            if (isValid) {

                $scope.$http.post('/submitimage', {
                    foo: img
                }).success(function(res) {
                    console.log(res.data);
                    if (res.data == "DONE") {
                        isValid = false;
                    }
                });
            }
        }
    }]);

    function handleVideo(stream) {

        video.src = window.URL.createObjectURL(stream);

    }

    function videoError(e) {
        // do something
    }
    </script>
</body>

</html>
