<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="Display Webcam Stream" name="title">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/logbon72/angular-recorder/28053efbd004bf8411fb718158fdc137c54750e5/dist/angular-audio-recorder.min.js"></script>
    <title>Display Webcam Stream</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
    <div id="container" ng-app="myApp" ng-controller="myCtrl">
        <canvas id="canvas" style="display:none;" width="480" height="320"></canvas>
        <video autoplay="true" id="videoElement" width="100%" height="100%"></video>
        <div ng-audio-recorder id='audioInput' audio-model='recordedInput' on-record-complete="saveAudio()">
            <div ng-if="recorder.isAvailable">
                <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording" style='display: none;' id="start">Start Record</button>
                <button ng-click="recorder.stopRecord()" type="button" ng-disabled="!recorder.status.isRecording" style='display: none;' id="stop">Stop Record</button>
            </div>
            <div class="alert alert-danger" ng-if="!recorder.isAvailable">
                THERE IS A PROBLEM HERE
            </div>
        </div>
        <audio id="audio"></audio>
    </div>
    <script>
    var video = document.querySelector("#videoElement");
    var canvas = document.querySelector("#canvas");
    var button = document.querySelector("#button");
    var audio = document.querySelector("#audio");
    var isValid = true;
    var app = angular.module("myApp", ['angularAudioRecorder']);

    function blobToBase64Promise(blob) {
        return new Promise(function(res, rej) {
            var dataURI;
            var reader = new FileReader();
            reader.onload = function() {
                // here you'll call what to do with the base64 string result
                dataURI = this.result;
                res(dataURI);
            };
            reader.readAsDataURL(blob);
        });
    }

    function b64toBlob(b64Data, contentType, sliceSize) {
        contentType = contentType || '';
        sliceSize = sliceSize || 512;

        var byteCharacters = atob(b64Data);
        var byteArrays = [];

        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
            var slice = byteCharacters.slice(offset, offset + sliceSize);

            var byteNumbers = new Array(slice.length);
            for (var i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
            }

            var byteArray = new Uint8Array(byteNumbers);
            byteArrays.push(byteArray);
        }

        var blob = new Blob(byteArrays, {
            type: contentType
        });
        return blob;
    }

    app.controller("myCtrl", ['$scope', '$http', '$interval', '$document', function($scope, $http, $interval, recorder, $document) {
        var context = new AudioContext();
        $scope.$http = $http;
        $scope.$interval = $interval;
        $scope.startButton;
        $scope.stopButton;
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

        if (navigator.getUserMedia) {
            navigator.getUserMedia({
                video: true
            }, handleVideo, videoError);
        }
        window.onload = function() {
            var startButton = document.getElementById("start");
            var stopButton = document.getElementById("stop");
            $scope.startButton = startButton;
            $scope.stopButton = stopButton;
        }

        $scope.saveAudio = function() {
            console.log("asdf");
            setTimeout(function() {
                var reader = new FileReader();
                var sound = new Blob([$scope.recordedInput], {
                    type: "audio/wav"
                });
                blobToBase64Promise(sound).then(function(data) {
                    $scope.$http.post('/submitaudio', {
                        foo: data
                    }).success(function(res) {
                        var convert = b64toBlob(res.data, "audio/wav");
                        var url = URL.createObjectURL(convert);
                        //console.log(url);
                        audio.src = url;
                        audio.play();
                    });
                })
            }, 1000);
        }

        $interval(function() {
            $scope.handleSubmit();
        }, 5000);
        $scope.handleSubmit = function() {
            if (isValid) {
                canvas.getContext("2d").drawImage(video, 0, 0, 480, 320);
                var img = canvas.toDataURL("image/jpeg", .9);

                $scope.$http.post('/submitimage', {
                    foo: img
                }).success(function(res) {
                        console.log(res.data);
                        var convert = b64toBlob(res.data, "audio/wav");
                        var url = URL.createObjectURL(convert);
                        console.log(url);
                        audio.src = url;
                        audio.play();
                        setTimeout(function() {
                                $scope.startButton.click();
                                setTimeout(function() {
                                    $scope.stopButton.click();
                                    isValid = false;
                                }, 5000)}, 1500
                        );

                });
        }
    }

    }]);

    function handleVideo(stream) {
        video.src = window.URL.createObjectURL(stream);
    }

    function videoError(e) {
        // do something
    }
    </script>
    <style type="text/css">
    ::-webkit-scrollbar {
        display: none;
    }
    </style>
</body>

</html>
